#tripane img{
	vertical-align : middle;}

a {
	cursor : auto;
}

a:link {
	color : #336699;
}

a:visited {
	color : #993366;
}

a:hover { text-decoration: underline;
          cursor:pointer;
        }

a.topbutton, a.topbutton:visited {
	font : bold 75% Verdana, Helvetica, Arial, 	sans-serif;
	cursor : auto;
	padding : 6px;
	text-align : center;
	text-decoration : none;
	color: #000000;}

a.selectedtab:link, a.selectedtab:visited, a.selectedtab:hover{
	color : #000000;
        padding : 6px 11px 6px 11px;
	text-align : center;
	font: bold 75% Verdana, Helvetica, Arial, 	sans-serif;
	text-decoration: none;
	margin: -3px;
	background-image : 		url(../../../../../Program Files/AuthorIT V4/Data/Templates/DHTML Search/portal_tab_selected_center.gif);
	background-attachment: inherit;}

a.tab:link, a.tab:visited, a.tab:hover{
	color : #999999;
	font : bold 75% Verdana, Helvetica, Arial, sans-serif;
	margin : -3px;
        padding : 6px 11px 6px 11px;
	background-image: url(../../../../../Program Files/AuthorIT V4/Data/Templates/DHTML Search/portal_tab_unselected_center.gif);
	background-attachment: inherit;}
		
body {
	margin : 0em 0% 0em% ;
}

body.contents {
	text-decoration: underline;}


body.tabs{
	background: none;}

.toc 
{font-family: "Arial", verdana, arial, helvetica, sans-serif;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        font-size: smaller;
        color: #000000;
        background-color: inherit;
        word-spacing: normal;
        letter-spacing: normal;
        vertical-align: baseline;
        text-decoration: none;
        text-transform: none;
        line-height: normal;
        margin-top: 0cm;
        margin-bottom: 0cm;
        margin-left: 0cm;
        margin-right: 0cm;
        padding-top: 0pt;
        padding-bottom: 0pt;
        padding-left: 0pt;
        padding-right: 0pt;
        float: none;
        clear: none;
        text-align: left;
        text-indent: 3pt;
        width: auto;
        height: auto;
        white-space: nowrap;
       }


#tripane {
	margin-left : 0%;
	margin-right : 0%;
	margin-top : 1em;
        padding-left : 3%; 
	padding-right : 3%;
	padding-left: 8%;
	padding-right: 8%;}

#main {
	background : #FFFFFF;
	border-left : 1px solid #EF6FFF;
	height : 100%;
	margin-left : 0%;
	margin-right : 0%;
	margin-top : 0em;
	margin-bottom: 0em;
	padding-left : 3%;
	padding-right : 3%;
	padding-top : 0em;
	padding-bottom: 1em
}

#tabs{
	border-bottom : 1px solid #EFF6FF;
        margin-top : 6px;
}

#tripane .heading1 {
	border-bottom : none;
	color : #336699;
	padding-bottom : 1px;
font: bold 13px Verdana, Helvetica, Arial, sans-serif;}

   
td.topleft, td.topright,td.bottomleft,td.bottomright {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 11px;
	color: #000000;
	margin : 0;
        padding : 4px 8px 0px 8px;
	background : #EFF6FF;
	background-image : None;
	}


td.topright {
	border-right: 1px solid #9999DD;
}
td.topleft {
	border-bottom: 1px solid #9999DD;
}

td.bottomright {
	border-top: 1px solid #9999DD;
	}

td.bottomleft {
	border-top: 1px solid #9999DD;
}

a.toolbar:hover {
	text-decoration: underline;}
a.toolbar {
	border : 0;
	margin : 3px;
	padding : 0px 0px 0px 0px;
	text-decoration: underline;}

img.toolbar {
	padding : 0;
	margin:0;
	top : 3px;
	left : 0;
    vertical-align : top;	
	margin-bottom : 3px;position: fixed;}

#footer {
	margin : 0;
	padding : 8px 8px 8px 8px;
	background : #ffffff;
	border: 0;
	border-right: 1px #ffffff solid;
	font : 10px Verdana, sans-serif;
	color : #ffffff;
	text-align : left;
	color: #000000;}

.searchword1
{
    background-color: Yellow; 
}
.searchword2
{
    background-color: Aqua; 
}
.searchword3
{
    background-color: Fuchsia; 
}
.searchword4
{
    background-color: Lime; 
}
.searchword5
{
    background-color: Red; 
}
