#include <windows.h>
#include "gv.rc"

// box taken from nanact.rc

5000 DIALOG 58, 29, 131, 117
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU |DS_LOCALEDIT
CAPTION "Select Window"
FONT 8, "Helv"
BEGIN
    PUSHBUTTON      "Tile &Vert", 10    , 2,  68, 41, 15
    PUSHBUTTON      "Tile &Horz", 16    , 45, 68, 41, 15
    PUSHBUTTON      "Ca&scade", 11      , 88, 68, 41, 15
    PUSHBUTTON      "&Iconize All", 13  , 2,  84 , 41, 15
    PUSHBUTTON      "&Restore All", 14  , 45, 84, 41, 15
    PUSHBUTTON      "C&lose All", 15    , 88, 84, 41, 15
    PUSHBUTTON      "&Arrange", 12      , 2,  100, 41, 15
    DEFPUSHBUTTON   "Switch &To", IDOK  , 45, 100,41, 15
    PUSHBUTTON      "Cancel", IDCANCEL  , 88, 100,41, 15
    LISTBOX         100                 , 2 , 3, 127, 65, WS_VSCROLL | WS_TABSTOP|LBS_SORT
END

